*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
font-family: sans-serif;
}

body{

   
     background-image: url(gradient-1770362903006.svg);
     height: 100vh;
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;

}

.container{
    text-align: center;
    padding: 200px;

}
form{  
    width: 500px;
    height: 400px;
    margin: auto;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input{
    border: none;
    width: 300px;
    height: 60px;
    text-align: center;
    padding: 20px;    
    border-radius: 8px;
   
}
         .btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eeeeee7c;
            border-radius: 10px;
            display: block;
            border: none;
            margin: auto;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         

.ads{

    color: white;
    border-radius: 10px;
/* background-color: #26a0da; */
padding: 10px;
width: 250px;
font-size: 25px;
margin: auto;
background: linear-gradient(90deg,rgb(20, 77, 91) 6%, rgb(57, 193, 166) 64%, rgb(7, 81, 118) 100%);
    
    
}

.adss{
    color: white;
    font-size: 23px;
}

