* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(red.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

label{

    font-size: 22px;
    font-weight: 500;
}

input{
width: 260px;
height: 40px;
border: none;
border-radius: 7px;
text-align: center;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 170px;
}

.adss {
    margin-top: 120px;
}

form {

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 400px;
    height: 400px;
    text-align: center;

}

h3{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
        
         .btn-grad {background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 25px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #b8b5b570;
            border-radius: 10px;
            display: block;
            margin: auto;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         